<template>
    <div :class="'col-lg-' + size + ' col-xs-6'">
        <!-- small box -->
        <div :class="'small-box bg-' + bg">
            <div class="inner">
                <h3>{{ value }}<sup v-if="percent" style="font-size: 20px">%</sup></h3>

                <p>{{ label }}</p>
            </div>
            <div class="icon">
                <i :class="icon"></i>
            </div>
            <a :href="url" class="small-box-footer">Ver mais <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['size', 'percent', 'value', 'label', 'url', 'icon', 'bg'],
        methods: {
            haveUrl: function($url) {
                if(!$url) {
                    return 'active'
                }
                return '';
            }
        }
    }
</script>