<template>
    <ol class="breadcrumb">
        <li v-for="item in list" :class="haveUrl(item.url)">
            <a v-if="item.url" :href="item.url">
                <i :class="'fa fa-' + item.icon"></i> {{ item.title }}
            </a>
            <span v-if="!item.url"><i :class="'fa fa-' + item.icon"></i> {{ item.title }} </span>
        </li>
    </ol>
</template>

<script>
    export default {
        props: ['list', 'icon'],
        methods: {
            haveUrl: function($url) {
                if(!$url) {
                    return 'active'
                }
                return '';
            }
        }
    }
</script>