<template>
    <div id="publishDate" class="form-inline col-md-12" hidden>
        <div class="row">
            <label style=" width: 20%; ">
                <span class="label text-black">Dia</span>
                <input type="text" class="form-control input-sm-date" id="dd" name="dd" size="2" maxlength="2" autocomplete="off" style=" width: 47%;" min="1" max="31" value="01">
            </label>
            <label>
                <span class="label text-black">do Mês</span>
                <select id="mm" name="mm" class="form-control input-sm-date">
                    <option value="01" data-text="jan" selected="selected">01-jan</option>
                    <option value="02" data-text="fev">02-fev</option>
                    <option value="03" data-text="mar">03-mar</option>
                    <option value="04" data-text="abr">04-abr</option>
                    <option value="05" data-text="maio">05-maio</option>
                    <option value="06" data-text="jun">06-jun</option>
                    <option value="07" data-text="jul">07-jul</option>
                    <option value="08" data-text="ago">08-ago</option>
                    <option value="09" data-text="set">09-set</option>
                    <option value="10" data-text="out">10-out</option>
                    <option value="11" data-text="nov">11-nov</option>
                    <option value="12" data-text="dez">12-dez</option>
                </select>
            </label>
            <label>
                <span class="label text-black">Ano</span>
                <input type="text" class="form-control input-sm-date" id="aa" name="aa" value="2018" size="4" maxlength="4" autocomplete="off" style=" width: 40%;">
            </label>
            <label>
                <span class="label text-black">Hora</span>
                <input type="text" class="form-control input-sm-date" id="hh" name="hh" value="13" size="2" maxlength="2" autocomplete="off">
                <span class="label text-black">Minuto</span>
                <input type="text" class="form-control input-sm-date" id="mn" name="mn" value="30" size="2" maxlength="2" autocomplete="off">
            </label>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['datetime'],
        methods: {
            dateFormat: function(dateTime) {
                let dtTime = dateTime.split(' ');
                let dates = dtTime[0].split('-');
                let time = dtTime[1].split(':');

                $("#publishDate").show();

                $("#dd").val(dates[2]);
                $("#mm").val(dates[1]);
                $("#aa").val(dates[0]);
                $("#hh").val(time[0]);

                $("#mn").val(time[1]);
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                if(this.datetime){
                    this.dateFormat(this.datetime);
                }
            });
        }
    }
</script>

<style>
    .input-sm-date {
        height: 25px !important;
        font-size: 12px;
        padding: 2px 5px;
    }
</style>
