<template>
    <div class="table-responsive">
        <table :id="name" class="table table-striped">
            <thead>
            <tr>
                <th style="cursor: pointer" v-for="(content) in titles">
                    {{ content['0'] }}
                    <i v-if="content['1'] == 'string'" class="fa fa-sort-alpha-asc"></i>
                    <i v-if="content['1'] == 'number'" class="fa fa-sort-numeric-asc"></i>
                </th>
                <th v-if="edit || exclude ">Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="!list">
                <td :colspan="(titles.length + 1)" class="text-center">Não há registros</td>
            </tr>
            <tr v-if="list" v-for="(items) in list">
                <td v-for="(item, idx) in items" v-html="$options.filters.format(item, idx)"></td>
                <th v-if="edit || exclude" class="action-inline">
                <span v-if="urlview">
                    <a v-if="(items.slug !== '/' && !blog)" :href="'/' + items.slug" target="_blank">
                        <button type="button" class="btn btn-sm btn-success">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>
                    <a v-if="(items.slug === '/' && !blog)" href="/" target="_blank">
                        <button type="button" class="btn btn-sm btn-success">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>
                    <a v-if="(blog)" :href="'/blog/' + items.slug" target="_blank">
                        <button type="button" class="btn btn-sm btn-success">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>
                </span>
                <span v-if="modal">
                    <button :id="modal" type="button" class="btn btn-sm btn-success" :data-id="items.id" data-toggle="modal" data-target="#modal-default">
                        <i class="fa fa-eye"></i>
                    </button>
                </span>
                    <a :href="edit + '/' + items.id">
                        <button v-if="edit" type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                    <form v-bind:id="items.id" v-if="exclude && token" v-bind:action="exclude + '/' + items.id" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" v-bind:value="token">
                        <button v-if="exclude" v-on:click="deleteItem(items.id)" type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </form>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: ['titles', 'content', 'name', 'edit', 'exclude', 'token', 'blog', 'urlview', 'modal'],
        computed: {
            list: function() {
                if((this.content.data).length > 0)
                    return this.content.data;
                else {
                    return false;
                }
            }
        },
        methods: {
            deleteItem: function(id) {
                $("#"+id).submit();
            }
        },
        filters: {
            format: function(value, idx) {

                if(value) {
                    if (value.length >= 60) {
                        return value.substr(0, 60).concat('...');
                    }

                    if(value === 'published'){
                        return '<i data-toggle="tooltip" data-placement="top" title="Publicado" class="fa fa-check-square-o"></i>';
                    } else if(value === 'draft') {
                        return '<i data-toggle="tooltip" data-placement="top" title="Rascunho" class="fa fa-pencil-square-o"></i>';
                    } else if(value === 'schedule') {
                        return '<i data-toggle="tooltip" data-placement="top" title="Agendado" class="fa fa-calendar-check-o"></i>';
                    }

                    if(idx == 'approved') {
                        if (value == 1) {
                            return '<span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Aprovado">' +
                                '  <i class="fa fa-commenting-o fa-stack-1x"></i>' +
                                '  <i class="fa fa-check fa-stack-2x text-success"></i>' +
                                '</span>';
                        } else if (value == 0) {
                            return '<span class="fa-stack" data-toggle="tooltip" data-placement="top" title="Aguardando Aprovação">' +
                                '  <i class="fa fa-commenting-o fa-stack-1x"></i>' +
                                '  <i class="fa fa-ban fa-stack-2x text-danger"></i>' +
                                '</span>';
                        }
                    }
                }

                return value;
            }
        },
    }
</script>

<style>
    .action-inline {
        display: -webkit-inline-box;
        display: inline-flex;
    }
</style>
