<template>
    <div class="col-md-12 row">
        <div class="form-group">
            <textarea id="textareaTags" name="tags" rows="1"></textarea>
        </div>
        <div class="input-group input-group-sm" style=" width: 112%; ">
            <input type="text" id="tagname" placeholder="nome da tag" class="form-control">
            <span class="input-group-btn">
              <button type="button" id="addtag" class="btn btn-info btn-flat">Adicionar</button>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        created() {
            let tagJs = document.createElement('script');
            tagJs.setAttribute('src', 'https://cdnjs.cloudflare.com/ajax/libs/jquery-textext/1.3.0/jquery.textext.min.js');
            document.head.appendChild(tagJs);
        },
    }
</script>

<style>
    .text-core .text-wrap {
        width: 112% !important;
    }
    .text-core .text-wrap textarea, .text-core .text-wrap input {
        width: 100% !important;
        border: 1px solid #ccc;
    }
</style>