<template>
    <h1 class="title">
        {{ title }}
        <small v-if="subtitle"> {{ subtitle }} </small>
    </h1>
</template>

<script>
    export default {
        props: ['title', 'subtitle']
    }
</script>